# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\TAI_LIEU_HOC_TAP\Trainer_Java_Framework_FPT\Config_New\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
