<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/static/lib/bootstrap-4.6.2-dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/static/lib/fontawesome-free-5.15.4-web/fontawesome-free-5.15.4-web/css/all.css}">
    <script th:src="@{/static/lib/jquery/jquery-3.7.1.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/error-500.css}">
</head>
<body>
<main class="d-flex flex-column justify-content-center align-items-center main-custom">
    <img th:src="@{/static/image/img-500.png}" class="image-custom">
    <a th:href="@{/login}" class="link-custom">Go To Login</a>
</main>
</body>
</html>